%% vim: ts=4 sw=4 et ft=erlang
{sub_dirs, [
    "site",
    "deps"
]}.

{require_otp_vsn, "R15|R16|17|18"}.

{cover_enabled, true}.

{erl_opts, [debug_info, fail_on_warning]}.

{deps_dir, ["lib"]}.

{deps, [
	{nitrogen_fa, "", {git, "git://github.com/stuart-thackray/nitrogen_fa.git", {branch, master}}},
	{egeoip, "", {git, "git://github.com/mochi/egeoip.git", {branch, master}}},
    {useragent, "", {git, "git://github.com/ferd/useragent.git", {branch, master}}}
]}.

